#laWishlist {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-around;
  }

.unWish {
  margin: 1px;
  /*background-color: gray;*/
  border: 1px solid rgb(4, 0, 255);
}

#lesAvis {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-around;
  }

.unAvis {
  display: flex;
  margin: 1px;
  border: 1px solid red;
}

#btn_avis_wishlist {
  display: flex;
}

.commentaire {
  margin-left: 10px;
}